# Настройки API
API_KEY_CURRENCY="ваш_ключ_для_API_валют"
API_KEY_STOCKS="ваш_ключ_для_API_акций"

# Настройки базы данных
DB_NAME="имя_вашей_базы_данных"
DB_USER="ваш_пользователь"
DB_PASSWORD="ваш_пароль"
DB_HOST="ваш-хост"
DB_PORT="ваш порт"

# Настройки приложения
SECRET_KEY="ваш_секретный_ключ"
DEBUG="True"  # или "False" для продакшена
ALLOWED_HOSTS="localhost, 127.0.0.1"
